---
import { formatCurrency } from "@lib/date-utils.ts";
import { actions } from "astro:actions";
import Asterisk from "@comps/Asterisk.astro";

interface Props {
    classes?: string;
}

const accountsResult = await Astro.callAction(actions.getAccounts, {});

const accounts = accountsResult.data?.ok ? accountsResult.data.accounts : [];

const { classes }: Props = Astro.props;
---

<label for="accountId" class={classes}>
    <span class="block text-sm font-medium text-gray-200 mb-2">
        Account <Asterisk id="account" />
    </span>
    <select
        id="accountId"
        name="accountId"
        required
        class="w-full px-3 py-2 bg-gray-700 border border-gray-600 rounded-lg text-white focus:outline-none focus:ring-2 focus:ring-purple-500"
    >
        <option value="">Select an account</option>
        {
            accounts &&
                accounts.map((account) => (
                    <option value={account.id} data-color={account.color}>
                        {account.name} ({account.accountType}) -
                        {formatCurrency(account.balance)}
                    </option>
                ))
        }
    </select>
</label>
