---
import Asterisk from "@comps/Asterisk.astro";

interface Props {
    id: string;
    name: string;
    label: string;
    classes?: string;
}

const { id, name, label, classes } = Astro.props;
---

<label for={id} class={classes}>
    <p class="text-sm font-medium text-gray-200 mb-2">
        {label}
        <Asterisk id={id} />
    </p>
    <input
        type="datetime-local"
        id={id}
        name={name}
        required
        class="w-full px-3 py-2 bg-gray-700 border border-gray-600 rounded-lg text-white focus:outline-none focus:ring-2 focus:ring-purple-500"
    />
</label>
